* {
    margin: 0;
}

.top {
    height: 35px;
    margin: 0px 0px 15px 0px;
    background-color: #000000;
}

.middle {
    margin: 0 auto;
    width: 1390px;
    
}

.middleTop {
    height: 50px;
    line-height: 50px;
    margin: 0px 0px 15px 0px;
    display: flex;
    flex-direction: row;
}

.header {


}

.header h1 {
    width: 100px;
}

/* 发表文章 */
.sendArtButton {
    /* 1210 = 1390 - 100 - 80 */
    margin: 10px 0px 10px 1210px;
}

.sendArtButton button {
    border: 0px;
    padding: 0px;
    height: 30px;
    width: 80px;
}
