
*{
    padding:0px;
    margin: 0px;
}
ul,li{
    list-style-type:none;
}
a{
    text-decoration: none;
}

body{
    background-color: #f1f2f4;
}
iframe{
    width: 100%;
    height: 100%;
    border: 0px;
}
/******************************************/
.head{
    background-color: #222222;
    height: 35px;
}
    .head_left{
        float: left;
        width: 700px;
        height: 35px;
        margin-left: 20px;
    }
        .head_left li{
            float: left;
            width: 50px;
            height: 100%;
            line-height: 35px;
            color: #FFFFFF;
            font-size: 13px;
        }
        .head_left a{
            color: #FFFFFF;
        }


    .head_right{
        float: right;
        width: 140px;
        height: 100%;
        background-color: #FFFFFF;
    }

        .head_list{
            float: right;
            width: 70px;
            height: 35px;
        }
            .button1{
                display: block;
                line-height: 35px;
                width: 100%;
                height: 35px;
                text-align: center;
                color: #FFFFFF;
                font-size: 15px;
                background-color: #333333;

            }
            .button2{
                display: block;
                line-height: 35px;
                width: 100%;
                height: 35px;
                text-align: center;
                color: #FFFFFF;
                font-size: 15px;
                margin-left:1px;
                background-color: #222222;

            }




.head2{
    width: 100%;
    height: 60px;
    background-color: #FFFFFF;
}
    .logo{
        float: left;
        margin: 20px 0px 0px 13%;
    }
        .logo img{
            width: 110px;
            height: 28px;
        }
    .search{
        float: right;
        margin: 15px 12% 0px 0px;
        width: 350px;
        height: 40px;

    }
        .input_box{
            float: left;
        }
        .button_box{

        }
            .search input{
                width: 290px;
                height: 40px;
                background-color: #f1f2f4;
                border-width: 0px;
                outline: none;
                padding-left: 10px;
                font-size: 20px;
            }
            .search button{
                width: 50px;
                height: 40px;
                border-width: 0px;
                outline: none;
                cursor: pointer;
                box-shadow: 0 1px #999;
                /*margin-left: -50px;*/
            }
            .search button:active{
                box-shadow: 0 0px;
            }

/******************************************/


.main{
    margin: 0 auto;
    width: 75%;
    height: 850px;

}
    .main_head{
        margin: 15px 0px;
        width: 100%;
        height: 250px;
        background-color: #FFFFFF;
    }

        .main_head_img{
            width: 100%;
            height: 65%;
        }
            .main_head_img img{
                width: 100%;
                height: 100%;
            }
        .main_head_bottom{
            width: 100%;
            height: 35%;
            /*background-color: black;*/
        }
            .main_head_bottom_pic{
                position: absolute;
                top:235px;
                left: 205px;
                width: 100px;
                height: 100px;
                border-radius:90px ;
            }
                .main_head_bottom_pic img{
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                }


            .nameandbuttonBox{
                float: right;
                margin: 10px 20px 0px 0px;
                width: 85%;
                height: 50%;
                /*background-color: #333333;*/
            }
                .name_link{
                    float: left;
                    font-size: 20px;
                }
                    .name_link a{
                        color: black;
                    }
                .aButton{
                    font-size: 16px;
                    margin-top: 5px;
                    float: right;
                    width: 170px;
                    height: 38px;
                    border-radius: 7px;
                    border-width: 0px;
                    background-color: #2a90d7;
                    color: #FFFFFF;
                }

                    .aButton div{
                        margin: 7px 0px 0px 25px;
                    }
                    .aButton img{
                        float: left;
                    }


.main_body{
    width: 100%;
    height: 600px;
}

    .ul_box{
        width: 100%;
        height: 45px;
        margin-bottom: 2px;
        background-color: #FFFFFF;
    }
        .body_ul{
            font-size: 19px;
            position: relative;
            top: 10px;

        }
            .body_li{
                text-align: center;
                float: left;
                width: 100px;
                height: 40px;
                margin-bottom:2px;
            }


                .body_li_button{
                    margin: 0 auto;
                    width:  80px;
                    height: 40px;
                    cursor: pointer;
                }

                    .alive{
                        width: 100%;
                        height: 2px;
                        margin-top: 9px;
                        background-color: #8FDAFF;
                    }

                    .body_li:active .body_li_button span{
                        width: 100%;
                        height: 2px;
                        margin-top: 9px;
                        color: #8FDAFF;
                    }
                    .blue{
                        color: #8FDAFF;
                    }


.main_content{
    width: 100%;
    height: 500px;
    background-color: #FFFFFF;

}
/******************************************/

.foot{
    clear: both;
    width: 100%;
    height: 70px;
    /*background-color: black;*/
}