body {
    margin: 0 auto;
    /*background: #123456;*/
}

.content {
    margin: 0 auto;

}

.top {
    margin: 0 auto;
    height: 35px;
    margin: 0 0 15px 0;
    overflow: hidden;
    background-color: #000000;
}

.main {
    margin: 0 auto;
    width: 1165px;
    overflow: hidden;
    
    /*background: #345678;*/
}

.left {
    width: 110px;
    /*float: left;*/
    /*position: fixed;*/
    position: absolute;
    overflow: hidden;
    /*margin: 0 25px 0 0;*/

    /*background: #654321;*/
}

.middle {
    width:655px;
    overflow: hidden;
    position: absolute;
    margin: 0px 375px 0px 135px;

    /*background: #987654;*/
}

.right {
    width: 340px;
    height: 60px;
    /*position: fixed;*/
    position: absolute;
    /*float: right;*/
    margin: 0 0 0 825px;
    overflow: hidden;
    z-index: 2

    /*background: #876543;*/
}

.searchBar {
    width: 340px;
    
}

.searchText {
    width: 280px;
    /*float: left;*/
    display: inline;
    position: absolute;
    overflow: hidden;
    /*z-index: 3;*/
}

.searchButton {
    width: 60px;
    /*float: right;*/
    display: inline;
    position: absolute;
    margin: 0 0 0 280px;
    overflow: hidden;
    /*z-index: 3;*/
}