<!DOCTYPE html>
<!--
网页总宽1165px；
顶部高度35px（提供15px的margin）；

左侧宽度（110px） margin: 0 375px 0px 135px;；
中间宽度（655px）；
右侧宽度（340px） margin: 0 0 0 825px;
左中空白25px，右中空白35px；

css在同一目录下
-->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../web/css/index.css">
    <script type="text/javascript" src="../web/js_lib/jquery-3.3.1.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>
        setInterval(
            function () {
                var d=new Date();
                document.getElementById("time").value=d.toLocaleTimeString();

        },1000);
    </script>

</head>
<body>

<header class="head">
    <div class="head_left">
        <ul>
            <li class="head_left1">
                <a class="head_left_button1">aa</a>
            </li>
            <li class="head_left2">
                <a class="head_left_button2">aa</a>
                <div class="hide"></div>
            </li>
        </ul>

    </div>
    <div class="head_right">
        <ul>
            <li class="head_list">
                <div class="dropdown">
                    <a class="button1" href="#">发文</a>
                    <div class="shell">
                        <a class="button2" href="#">aa</a>
                        <a class="button2" href="#">bb</a>
                    </div>
                </div>
            </li>
            <li class="head_list">
                <div class="dropdown">
                    <a class="button1" href="#">发文</a>
                    <div class="shell">
                        <a class="button2" href="#">aa</a>
                        <a class="button2" href="#">bb</a>
                    </div>
                </div>
            </li>
            <li class="head_list">
                <div class="dropdown">
                    <a class="button1" href="#">发文</a>
                    <div class="shell">
                        <a class="button2" href="#">aa</a>
                        <a class="button2" href="#">bb</a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</header>
<div style="width: 1165px;margin: 0 auto">
    <div class="left">
        <div class="leftNav">
            <div id="leftFix" class="">
                <div class="logo">
                    <a href="">
                        <img src="../pic/logo.png" >
                    </a>
                </div>
                <ul class="left_ul">
                    <li>
                        <a class="left_list" href="" style="background-color: #8FDAFF ;color: #FFFFFF;"><span>首页</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>热门</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>附近</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>猜你喜欢</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>热门</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>附近</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>猜你喜欢</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>猜你喜欢</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>热门</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>附近</span></a>
                    </li>
                    <li>
                        <a class="left_list" href=""><span>猜你喜欢</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="shuffling">
            <ul class="pics_box">
                <li>
                    <a class="link" href="">
                        <img class="image_hidden" src="../pic/1.jpg">
                    </a>
                </li>
                <li>
                    <a class="link" href="">
                        <img class="image" src="../pic/2.jpg">
                    </a>
                </li>
                <li>
                    <a class="link" href="">
                        <img class="image_hidden" src="../pic/3.jpg">
                    </a>
                </li>
                <li>
                    <a class="link" href="">
                        <img class="image_hidden" src="../pic/4.jpg">
                    </a>
                </li>
                <li>
                    <a class="link" href="">
                        <img class="image_hidden" src="../pic/5.jpg">
                    </a>
                </li>
                <li>
                    <a class="link" href="">
                        <img class="image_hidden" src="../pic/6.jpg">
                    </a>
                </li>
            </ul>
            <ul class="buttons">
                <li>新闻</li>
                <li>新闻</li>
                <li>新闻</li>
                <li>新闻</li>
                <li>新闻</li>
                <li>新闻</li>
            </ul>
        </div>
        <div>
            <div id="vue">
                <ul class="content_ul">
                    <vue-li v-for="project in projects"  :title="project.title" :tag="project.tag" :timeAgo="project.timeAgo" :image1="project.image1"></vue-li>
                </ul>
            </div>
        </div>
    </div>
    <div class="right">
        <div id="rightFix" class="vertical">
            <div class="find">
                <input class="input_find" type="text">
                <input class="button_find" type="submit" value="搜索">
            </div>
            <div class="user">
                <div class="blue_wire"></div>
                <div class="user_insert">
                    <div class="user_up">
                        <div class="user_img_box">
                            <a class="exit" href="#">退出登录</a>
                            <a href="#">
                                <img class="user_img" src="../pic/touxiang.jpg">
                            </a>
                        </div>
                        <div class="user_name_box">
                            <p>
                                <a class="name" href="#">用户名</a>
                            </p>
                        </div>
                    </div>
                    <div class="user_down">
                        <ul class="user_ul">
                            <a href="#">
                                <li class="fans">
                                    <p>0</p>
                                    <p>粉丝</p>
                                </li>
                            </a>
                            <li class="wire"></li>
                            <a href="#">
                                <li class="fans">

                                    <p>0</p>
                                    <p>关注</p>
                                </li>
                            </a>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="hot_news">
                <div class="blue_wire"></div>
                <h3 style="height: 35px">&nbsp;24小时热门新闻</h3>
                <ul class="hot_ul">
                    <li>
                        <a href="#">
                            <div class="hot_img_box">
                                <img class="hot_img" src="../pic/1.jpg">
                            </div>
                            <div class="hot_title_box">
                                <p class="hot_title">王嘉尔官本位表格范围分为非仍无法合并个人版</p>
                            </div>
                        </a>
                    </li>
                    <hr/>
                    <li>
                        <a href="#">
                            <div class="hot_img_box">
                                <img class="hot_img" src="../pic/1.jpg">
                            </div>
                            <div class="hot_title_box">
                                <p class="hot_title">王嘉尔官本位表格合并个人版</p>
                            </div>
                        </a>
                    </li>
                    <hr/>
                    <li>
                        <a href="#">
                            <div class="hot_img_box">
                                <img class="hot_img" src="../pic/1.jpg">
                            </div>
                            <div class="hot_title_box">
                                <p class="hot_title">王嘉尔官本位表格合并个人版</p>
                            </div>
                        </a>
                    </li>
                    <hr/>
                    <li>
                        <a href="#">
                            <div class="hot_img_box">
                                <img class="hot_img" src="../pic/1.jpg">
                            </div>
                            <div class="hot_title_box">
                                <p class="hot_title">王嘉尔官本位表格合并个人版</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<footer class="footer"></footer>

    <script>
        var a = 0;
        setInterval(function () {
            $('.buttons>li').removeClass("checked");
            $('.buttons>li').eq(a).addClass("checked");
            a++;
            change_class(a);
            if (a >= 5){
                a = a % 5;
            }
        },3000);
        $(".buttons>li").click(change_class(a));

        function change_class(i) {
            $('.link>img').removeClass("image");
            $('.link>img').addClass("image_hidden");
            $('.link>img').eq(i).removeClass("image_hidden");
            $('.link>img').eq(i).addClass("image");
        }
    </script>

    <script>
        // $('#leftFix')
        // $('#rightFix')
        //监听滚动事件，为上两个对象添加样式
    </script>

<script src="../js/component.js"></script>
    <script>
        var one = true;


            $( window ).on( "load", function(){
                window.onscroll = function(){//滚动条滚动触发

                    if ($(document).scrollTop() >= 45){
                        $('.leftNav').addClass('left_fixed');
                    }else {
                        $('.leftNav').removeClass('left_fixed');
                    }
                    if (one) {
                        if ($(document).scrollTop() >= $(document).height() - $(window).height()) {
                            one = false;

                            setTimeout(function () {
                                waterfall();

                            }, 1000);
                            one = true;
                        }
                    }
                }
            });



        // function waterfall(){
        //     $(".content_ul").append('<vue-li v-for="project in projects"  :title="project.title" :tag="project.tag" :timeAgo="project.timeAgo" :image1="project.image1"></vue-li>');
        //
        // }

        function waterfall(){
            $(".content_ul").append(
                '<li>\n' +
                '                    <div class="box">\n' +
                '                        <div class="pic_box">\n' +
                '                            <img class="pic" src="../web/pic/1.jpg">\n' +
                '                        </div>\n' +
                '                        <div class="content_box">\n' +
                '                            <div class="title_box">\n' +
                '                                <a class="title" href="">美国中央情报局局长彭佩奥已与朝鲜领导人金正恩会面</a>\n' +
                '                            </div>\n' +
                '                            <div class="little_things_box">\n' +
                '                                <a class="little_tag">军事·</a>\n' +
                '                                <span class="little_font_of_time">一小时前</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                </li>'+


                '<li>\n' +
                '                    <div class="box">\n' +
                '                        <div class="pic_box">\n' +
                '                            <img class="pic" src="../web/pic/1.jpg">\n' +
                '                        </div>\n' +
                '                        <div class="content_box">\n' +
                '                            <div class="title_box">\n' +
                '                                <a class="title" href="">美国中央情报局局长彭佩奥已与朝鲜领导人金正恩会面</a>\n' +
                '                            </div>\n' +
                '                            <div class="little_things_box">\n' +
                '                                <a class="little_tag">军事·</a>\n' +
                '                                <span class="little_font_of_time">一小时前</span>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                </li>');}

    </script>

</body>
</html>