*{
    margin: 0px;
    padding: 0px;
}
.main{
    width: 100%;
    height: 100%;
}

.main span{
    font-size: 18px;
}

.sex_input{
    margin: 40px 0px 0px 50px;
    width: 100%;
    height: 70px;
}

.sex_input a{
    text-decoration: none;
    display: inline-block;
    width: 75px;
    height: 35px;
    outline: none;
    margin-left: 30px;
    cursor: pointer;
    text-align: center;
    color: black;
    line-height: 35px;
    border: 1px solid #8FDAFF;
    border-radius: 5px;
}

.checked{
    background-color: #8FDAFF;
}
.birth_input{
    margin: 10px 0px 0px 50px;
    width: 100%;
    height: 70px;
}

.birth_input select{
    margin-left: 30px;
    width: 90px;
    height: 35px;
    border-width: 0px;
    border-radius: 5px;
    outline: none;
}
.area_input{
    margin: 10px 0px 0px 50px;
    width: 100%;
    height: 70px;
}
.area_input select{
    margin-left: 30px;
    width: 90px;
    height: 35px;
    border-width: 0px;
    border-radius: 5px;
    outline: none;
}
.text_input{
    margin: 10px 0px 0px 50px;
    width: 100%;
    height: 70px;
}
.text_input input{
    width: 300px;
    height: 30px;
    margin-left: 30px;
    outline: none;
    padding-left: 5px;
}
.button{
    margin: 10px 0px 0px 100px;
    width: 100%;
    height: 70px;
}
.button a{
    text-decoration: none;
    display: inline-block;
    width: 150px;
    height: 40px;
    outline: none;
    background-color: #8FDAFF;
    border-width: 0px;
    border-radius: 5px;
    margin-left: 35px;
    cursor: pointer;
    text-align: center;
    color: black;
    line-height: 40px;
}

#cancel{
    display: none;
}